
@{
    Layout = null;
}



<!DOCTYPE html>
<html len="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="myapp.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,400&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
    <title>Weekly Leaves</title>
</head>


<body>


    <div class="container">

        <div class="header">
            <h2 id="head">Weekly Leaves</h2>
        </div>
        <div class="week">
            <ul>
                <li>
                    <h3>Monday</h3>
                    <h3 id="Mon">00</h3>
                </li>
                <li>
                    <h3>Tuesday</h3>
                    <h3 id="Tue">00</h3>
                </li>
                <li>
                    <h3>Wednesday</h3>
                    <h3 id="Wed">00</h3>
                </li>
                <li>
                    <h3>Thursday</h3>
                    <h3 id="Thurs">00</h3>
                </li>
                <li>
                    <h3>Friday</h3>
                    <h3 id="Fri">00</h3>
                </li>
            </ul>

        </div>
        <div class="all_emp" id="main">

        </div>

        <div class="footer">
            <p>
                <b>Worked</b>
                <span id="cbox-1"></span>
            </p>
            <p>
                <b>Half-Worked</b>
                <span id="cbox-2"></span>
            </p>
            <p>
                <b>On Leave</b>
                <span id="cbox-3"></span>
            </p>
            <p>
                <b>Holiday</b>
                <span id="cbox-4"></span>
            </p>
            <p>
                <b>Need to be filled</b>
                <span id="cbox-5"></span>
            </p>
        </div>
        <button class="btn" id="btn">Save</button>

    </div>
    <script src="~/Scripts/myapp.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    


</body>

</html>























